#navBar{
    width: 100%;
    height: 60px;
    background-color: #f1f0f0;
    /* border: 1px solid red; */
}
#navBar>.menu{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
i{
    color: black;
    margin-right: 5%;
  
}
#cart_item_count{
 font-size: 16px;
 position: absolute;
  margin-left: 3px;
  font-weight: bold;

}

.searchDiv{
    width: 40%;
    height: 70px;
    margin-left: auto;
    margin-right: 20%;
    margin-top: 5%;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-around;
}
input{
    width: 70%;
    height: 40px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    outline: none;
}
.searchIconDiv{
    width: 47px;
    height: 40px;
    margin-right: auto;
    margin-left: 5px;
    /* border: 1px solid red; */
    background-color: #979292;
    text-align: center;
    padding-top: 8px;
    border-radius: 5px;
    cursor: pointer;
   
}
.searchIconDiv>i{
    color: white;
     font-weight: 100;
}

.contentDiv{
    width: 90%;
    height: 700px;
    border: 1px solid red;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.contentDiv >.filter_div{
    width: 30%;
    height: 70%;
    border: 1px solid blue;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.checkBoxDiv{
    width: 50%;
    height: auto;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid yellow;
    padding: 10px;
}
.checkBoxDiv > .check_box{
    width: 50%;
    text-align: center;
    /* border: 1px solid blue; */
    position: relative;
    margin-bottom: 10px;
}
.checkBoxDiv>h4{
    font-family: sans-serif;
    font-size: 19px;
    font-weight: normal;
    margin-bottom: 5px;
}
.check_box > label{
    font-size: 15px;
    font-weight: bold;
    margin-left: 5px;
   position: absolute;
}
.check_box > input{
    width: 15px;
    height: 15px;
    margin-left: -55px;
    background-color: #979292;
    cursor: pointer;
}

.contentDiv > .product_list_div{
    width: 60%;
    height: 100%;
    border: 1px solid green;
}
